{% extends 'shared/_base.html' %}

{% block content %}

    <h2>{{ ride.name }}</h2>

    <a href="/sales/checkout/{{ ride.id }}/">Sign up for the ride!</a> (only {{ ride.spaces_left }} of {{ ride.rider_capacity }} spaces left)

{% endblock %}