{% extends "shared/_base.html" %}

{% load staticfiles %}

{% block content %}

<div class="content">
  <section>
    <header>
      <h1>You are Registered for {{ ride.name }}!</h1>
    </header>

    <ol class="steps">
      <li>
        <span>1</span>
        <span>Join Techbikers</span>
      </li>

      <li>
        <span>2</span>
        <span>Pay the ride fee</span>
      </li>

      <li class="active">
        <span>3</span>
        <span>Registration Complete!</span>
      </li>
    </ol>

    <p>
      We have successfully charged your card and signed you up for the ride. Time to get fundraising!
    </p>

{% comment %}
    <h2>Now it’s time to start your fundraising for Room to Read.</h2>

    <p>
      Believe.in is part of the London startup community and is proud to power donations and fundraising for TechBikers and Room to Read. With Believe.in 100% of every donation and 100% of Gift Aid goes directly to charity. Set up your fundraiser now using the link below to be added to the TechBikers event page and to see how much the team can raise!
    </p>

    <p class="centerText">
      <a href="https://believe.in/fundraising/start?event_id=1&amount=60000" target="_blank">
        <img src="{% static 'img/believeinShot.jpg' %}" alt="TechBikers on Belive.in" />
      </a>
    </p>

    <p class="centerText">
      <a class="btn" href="https://believe.in/fundraising/start?event_id=1&amount=60000" target="_blank">Get me setup to fundraise!</a>
    </p>
{% endcomment %}

  </section>
</div>

{% endblock %}