{% extends "shared/_base.html" %}

{% load currency %}
{% load staticfiles %}
{% load markup %}

{% block title %}Terms and Conditions for the {{ride.name}} ride{% endblock %}

{% block content %}
<div class="content">
    <h1>Terms and Conditions ({{ ride.name }})</h1>
    {{ ride.terms_and_conditions|markdown:"safe" }}
</div>
{% endblock %}