{% extends "shared/_base.html" %}

{% load gravatar %}

{% block title %}{{ profile.get_full_name }} - Techbikers{% endblock %}

{% block content %}
<section>
    {% gravatar profile.email 130 %}

    <h2>{{ profile.get_full_name }}</h2>
</section>
{% endblock content %}
