{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Register for Techbikers</h1>
    </header>

    <ol class="steps">
      <li class="active">
        <span>1</span>
        <span>Join Techbikers</span>
      </li>

      <li>
        <span>2</span>
        <span>Pay the ride fee</span>
      </li>

      <li>
        <span>3</span>
        <span>Registration Complete!</span>
      </li>
    </ol>

    <form method="post">
    {% csrf_token %}
    <input type="hidden" name="NO_CHROME" value="{{ NO_CHROME }}">

      {{ form.errors }}

      <div class="row">
        <div class="span2 offset1">
          {{ form.firstname }}
          <span class="field-validation-valid" data-valmsg-for="firstname" data-valmsg-replace="true"></span>

          {{ form.lastname }}
          <span class="field-validation-valid" data-valmsg-for="lastname" data-valmsg-replace="true"></span>

          {{ form.email }}
          <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>

          {{ form.company }}
        </div>

        <div class="span2">
          {{ form.website }}
          {{ form.twitter }}
          {{ form.password1 }}
          <span class="field-validation-valid" data-valmsg-for="password1" data-valmsg-replace="true"></span>
          {{ form.password2 }}
          <span class="field-validation-valid" data-valmsg-for="password2" data-valmsg-replace="true"></span>

        </div>
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
    <p class="centerText">
      <input type="submit" value="Sign Up" class="btn" />
    </p>
    <p class="centerText">
      <a href="{% url "auth_login" %}?next={{ request.REQUEST.next|urlencode }}">Already have an account?</a>
    </p>
  </form>
</div>
{% endblock content %}