{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
   <section>
       <header>
           <h1>Password Reset - Email Sent!</h1>
       </header>

       <p>
           We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.
       </p>
   </section>
</div>
{% endblock %}