{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
    <section>
        <header>
            <h1>Password reset successfully!</h1>
        </header>

        <p>
            Your password has been set. You may go ahead and log in now.
        </p>

        <p class="centerText">
            <a class="btn" href="{% url "auth_login" %}">Log in</a>
        </p>
    </section>
</div>
{% endblock %}