{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Our sponsors</h1>
    </header>

</section>
<div class=sponsors>
  <p class="gap--big">Without the following companies Techbikers 2013 simply would not have happened. We are incredibly grateful for their support. Their investment in us has resulted in more funds going to Room to Read.<br><a href="#inkind">See our sponsors in kind</a></p>
    <h2 class=jersey--parent><span class="jersey"></span>Yellow Jersey Sponsors</h2>

    <ul class="list--secret">
      <li class=media>
        <a href="http://www.microsoftventures.com" class="img" target="_blank">
          <img src="/static/img/sponsors/msventures2.png" alt="Microsoft Ventures logo" />
        </a>
        <div class="bd">
          <h3 id="ms"><a href="http://www.microsoftventures.com" target="_blank">Microsoft Ventures</a></h3>
          <p>
            Microsoft Ventures is developing a global network of Accelerators, which currently includes Tel Aviv, Seattle, Beijing, Bangalore and Berlin. On 9th Sept, Microsoft announced that a new Microsoft Ventures Accelerator will launch in London and is now accepting applications from UK technology and gaming startups for a new accelerator in London. Founders and entrepreneurs can find more information and apply <a href="http://www.f6s.com/microsoftventuresaccelerator-london" target="_blank">here</a>. The 12 week programme will focus on helping high-potential startups grow their business through 1:1 mentoring, technical assistance and access to resources designed for startups striving to break new ground in cloud, internet, mobile or gaming.
          </p>
        </div>
      </li>
      <li class=media>
        <a href="http://company.yandex.com/" class="img" target="_blank">
          <img src="/static/img/sponsors/yandex_tight.png" alt="Yandex logo" />
        </a>
        <div class="bd">
          <h3 id="yandex"><a href="http://company.yandex.com/" target="_blank">Yandex</a></h3>
          <p>
            Yandex is one of the largest internet companies in Europe, operating Russia’s most popular search engine and its most visited website. Our mission is to help people solve their everyday problems. To this end, we build people-centric products and services and offer the most relevant, locally tailored experience on all digital platforms and devices. Yandex has over 61% of Russia's search market. The monthly visitor audience on all of our websites covers almost 85% of all internet users in Russia. We also operate in Ukraine, Belarus, Kazakhstan and Turkey.
          </p>
        </div>
      </li>
    </ul>

    <h2 class=jersey--parent><span class="jersey jersey--green"></span>Green Jersey Sponsor</h2>

    <ul class="list--secret">
      <li class=media>
        <a href="http://level39.co/" class="img" target="_blank">
          <img src="/static/img/sponsors/L39.png" alt="Level39 logo" />
        </a>
        <div class="bd">
          <h3 id="l39"><a href="http://level39.co/" target="_blank">Level39</a></h3>
          <p>
            Level39 is Europe's largest accelerator space for finance, retail and future cities companies. Occupying the entire 39th floor of the iconic One Canada Square building, and established by Canary Wharf Group plc, Level39 was opened in March 2013 by Boris Johnson, Mayor of London, and has quickly become an important part of London's booming Tech City. We accelerate our startups by putting them in touch with influential technology mentors, buyers and investors.
          </p>
        </div>
      </li>
    </ul>

     <h2 class=jersey--parent><span class="jersey jersey--kotm"></span>King of the Mountain Sponsor</h2>

    <ul class="list--secret">
      <li class=media>
        <a href="http://www.pearsoncollege.com" class="img" target="_blank">
          <img src="/static/img/sponsors/pearson.png" alt="Pearson Logo" />
        </a>
        <div class="bd">
          <h3 id="pear"><a href="http://www.pearsoncollege.com" target="_blank">Pearson College</a></h3>
          <p>
            Pearson College is part of Pearson, a leading FTSE 100 company, home to iconic brands like Penguin and the Financial Times. All our degrees are designed in partnership with leading businesses and smart start-ups giving our students the best of both worlds - the chance to learn from leading employers, as well as experienced academics and subject experts, in the heart of 21st century business.
          </p>
        </div>
      </li>
    </ul>

    <h2 id="inkind">Sponsors in kind</h2>
    <p>The following sponsors have donated their products, time and energy to help TechBikers reach their goal, we are very thankful for their support</p>
    <ul class="list--secret list--inline inkind">
      <li>
        <a href="http://www.blaze.cc/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/blaze-logo.png" alt="Blaze" />
        </a>
      </li>
      <li>
        <a href="http://www.campuslondon.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/campus.png" alt="Campus London" />
        </a>
      </li>
      <li>
        <a href="http://www.centralworking.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/Central-Working-Logo.jpg" alt="Central Working" />
        </a>
      </li>
      <li>
        <a href="http://www.cyclr.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/cyclr.png" alt="Cyclr" />
        </a>
      </li>
      <li>
        <a href="http://www.garmin.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/garmin.jpg" alt="Garmin" />
        </a>
      </li>
      <li>
        <a href="http://www.goodhempnutrition.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/good-hemp-nutrition.jpg" alt="Good Hemp Nutrition" />
        </a>
      </li>
      <li>
        <a href="http://www.lookmumnohands.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/lmnh.png" alt="Look Mum No Hands" />
        </a>
      </li>
      <li>
        <a href="http://www.makersacademy.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/makersacademy.png" alt="Makers Academy" />
        </a>
      </li>
      <li>
        <a href="http://www.marksandspencer.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/MS.jpg" alt="Marks and Spencer" />
        </a>
      </li>
      <li>
        <a href="http://bike.michelin.co.uk/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/Michelin.png" alt="Michelin" />
        </a>
      </li>
      <li>
        <a href="http://www.mulebar.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/mulebar-slim.jpg" alt="Mule Bars" />
        </a>
      </li>
      <li>
        <a href="http://www.nuun.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/nuun.jpg" alt="Nuun" />
        </a>
      </li>
      <li>
        <a href="http://www.ocado.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/Ocado.jpg" alt="Ocado" />
        </a>
      </li>
      <li>
        <a href="http://www.proviz.co.uk/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/proviz.jpg" alt="Proviz" />
        </a>
      </li>
      <li>
        <a href="http://www.rapha.cc/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/rapha.jpg" alt="Rapha" />
        </a>
      </li>
      <li>
        <a href="https://stripe.com" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/stripe.png" alt="Stripe" />
        </a>
      </li>
      <li>
        <a href="http://wayra.org/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/wayra.jpg" alt="Wayra" />
        </a>
      </li>
      <li>
        <a href="http://alexblogg.com/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/alexblogg.png" alt="Alex Blogg Video Production" />
        </a>
      </li>
      <li>
        <a href="http://believe.in/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/believein.png" alt="Believe.in" />
        </a>
      </li>
      <li>
        <a href="http://www.silvermansherliker.co.uk/" class="img" target="_blank">
          <img width="205" height="154" src="/static/img/sponsors/inkind/SSLLP.png" alt="Silverman Sherliker LLP" />
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}