{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>Paris &rarr; London</h1>
      <h2>September 27th ~ 29th, 2013</h2>
    </header>

    {% if ride.spaces_left < 1 %}
    <div class="callout">
      <h2>Registration for the 2013 Paris &rarr; London ride is FULL</h2>

      <p>
        Thanks for your interest but this year's ride is fully booked. You can support us by <a href="https://believe.in/techbikers" target="_blank">donating</a> and keep checking <a href="http://twitter.com/techbikers" target="_blank">Twitter</a> and <a href="http://facebook.com/techbikers" target="_blank">Facebook</a> for regular updates.
      </p>
    </div>
    {% else %}
    <div class="callout">
      <h2>Registration for the 2013 Paris &rarr; London ride is now open!</h2>
      <p>
        There is a £200 registration fee for the ride and you will have a target of £600 in donations for Room to Read. Remember, this is a charity event not a holiday (although it'll be a lot of fun!)
      </p>
      <h2>
        <a class="btn" href="{% url "checkout" %}?ride={{ ride.id }}">Register Now</a>
      </h2>

      <p>
        (only {{ ride.spaces_left }} of {{ ride.rider_capacity }} spaces left)
      </p>
    </div>
    {% endif %}

    <p>
      The ride will be three days and 200 miles of cycling picturesque villages in France and England.
    </p>

    <p>
      This year we will be arriving in Paris the evening before to allow us to ride Central paris on Friday morning and soak in all the beautiful sites as we start the ride.
    </p>

    <p>
      Based on last year, here's an example of what the ride could look like:
    </p>

    <h2>Friday 27th September 2013 - 60 miles cycling Versaille to Vernon</h2>

    <ul>
      <li>
        Take Eurostar from St Pancras International at 7am – arr Paris Gar du Nord at 10.15am – transfer to Versailles and meet up with bikes transported by van the previous day.
      </li>
      <li>
        Commence cycling at 12 noon in Versaille after a snack.
      </li>
      <li>
        Our route takes us out of Paris (Versaille) to Saint Germain –en- Laye and then on to Poissy and after a climb at Chanteloup to the Foret Domaniale
      </li>
      <li>
        Here we have a late picnic lunch in a delightful spot.
      </li>
      <li>
        It’s now just 35 miles to our stop for the 1st night at Vernon passing through Hardicourt, the wide open landscapes of the plateau around Sailly and finally back to the Seine at Vetheuil and the majestic castle at La-Roche-Guyon for a break.
      </li>
      <li>
        The final section is all along a very peaceful and stunning section of the Seine away from the main road until the famous gardens of Givernay are reached.
      </li>
      <li>
        We stay at the Kyriad Hotel in St Marcel near Vernon which we expect to reach at 19.00. Dinner in this delightful hotel will be at approx. 20.30.
      </li>
    </ul>

    <h2>Saturday 28th September 2013 - 70 miles cycling Vernon to Newhaven via Dieppe</h2>
    <ul>
      <li>
        We follow the Seine to the attractive town of Les Andelys and have a welcome break by the river with spectacular views of the limestone cliffs and the castle.
      </li>
      <li>
        Now commences a steep climb out of the Seine Valley onto the plateau for another rest stop around Charleville.
      </li>
      <li>
        Lunch is a little further on in the depths of the countryside at a quiet picnic spot near the market town of Buchy.
      </li>
      <li>
        Now we remain on the plateau until the bustling town of St Saens after which it is a gentle downward gradient through the valley on quiet straight roads towards the sea at Dieppe.
      </li>
      <li>
        We aim to arrive in Dieppe at 5pm and take the 6pm ferry to Newhaven – a 4 hour cruise. We will eat on the ferry and arrive at Newhaven at 9pm local time and check into a hotel.
      </li>
    </ul>

    <h2>Sunday 29th September 2013 65 miles cycling Newhaven to London East End</h2>
    <ul>
      <li>
        The route from Newhaven takes us across the South Downs through Lewis and then along country lanes to the North Downs following part of the famous London to Brighton cycle route.
      </li>
      <li>
        A slight deviation takes us to Greenwich for a view of London from the Observatory and then to the Cutty Sark with a finale on the cycle track on the S side of the River Thames, crossing the Thames at Tower Bridge.
      </li>
      <li>
        It’s then just a short ride to our destination in Shoreditch where we expect to arrive by 5pm for a celebration reception and dinner.
      </li>
    </ul>
  </section>
</div>
{% endblock content %}
